#root{
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
.button{
    margin-right: 10px;
}
.button__nav{
    display: block;
    max-width: 50px;
    padding: 7px 10px;
    background-color: #ccc;
    margin: 10px auto;
    cursor: pointer;
}
.button__nav:hover{
    background-color: #ddd;
}